.header {
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #296972;
    padding: 5px;
    min-height: 50px;
    box-shadow: 0 4px 4px #808888;
    overflow: auto;
}

.text {
    float: left;
    padding: 5px;
}

.parrot {
    width: 50px;
    height: 50px;
    float: left;
}

.parrot:hover {
    opacity: 1;
}

.textCenter {
    font-size: 28px;
    float: center;
    padding: 5px;
    vertical-align: 70%;
}

.parrotCenter {
    width: 70px;
    height: 70px;
    float: center;
}

.parrotCenter:hover {
    opacity: 1;
}

.badge-button {
    float: right;
}

.badge {
    /* right: -3px; */
    /* top: 10px; */
    /* padding: '0 4px'; */
    position: relative;
    background-color: #ea493f;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    padding: 10px 10px;
}

.profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    padding: 10px 10px;
    border-radius: 50px;
}